<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="GetURL" value="https://qa-samplerevitaddin/api/getData" />
    <add key="UploadURL" value="https://qa-samplerevitaddin/api/postData" />
  </appSettings>
</configuration>